.header
   h1 Login
.content
   div
      input(placeholder="Username", name="uname", type="text")
      input(placeholder="Password", name="pword", type="password")
.footer
   a(href="#signup")
      span Create an Account