/* Table of Contents
==================================================
    #Base
*/

//  #Base Colours --------------------------------------
$bg:    								        #465568;
$inputbg:  								        #2B3846;
$border:   								        #5E728A;
$header:                                        #FC9F6D;
$headerColor:                                   #A5B3CA;
$link:                                          #FA8748;

//  Notice Colours --------------------------------------------------------------
$success:          			#86C555;
$danger:           			#e74c3c;
$notice:           			#f39c12;
$warning:          			#f1c40f;
$info:             			#3498db;
$firm:		     			#1abc9c;